.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  margin: 0;
  padding: 2rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  text-align: center;
}

.card span {
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.button {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 200ms, color 200ms, border 200ms;
}

.button:hover {
  background-color: #000000;
  color: #ffffff;
}

.result {
  font-size: 20px;
  font-family: monospace;
  color: crimson;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
.main {
  padding: 3rem;
}

@media (max-width: 700px) {
  .description p,
  .description div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
  }
}

/* Tablet and Smaller Desktop */
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-color-scheme: dark) {
  .button {
    background-color: #000000;
    color: #ffffff;
    border-color: #ffffff;
  }

  .result {
  color: rgba(220, 20, 60, 0.168);
}
}
